button{
	background : rgba( 0, 0, 0, 0.8);
	color : white;
	padding : 5px;
	border-radius : 20%;
}

a{
	color : white;
}

#app{
	position : absolute;
	top : 10%;
	left : 20%;
	width : 80%;
	text-align : center;
	font-family: courier;
	overflow : auto;
	margin-bottom: 200px;
}
#upl{
	position : absolute;
	top : 10%;
	left : 20%;
	width : 80%;
	height : 90%;
	text-align : center;
	font-family: courier;
	margin-bottom: 200px;
}
#input{
	font-size : 25px;
	padding : 4px;
	width : 40%;
}
.each{
	position : relative;
	left : 30%;
	width : 40%;
	font-size : 20px;
	border-bottom : 1px solid rgba(0,0,0,0.1);
	padding : 10px;
}
.describe{
	position : relative;
	width : 70%;
	padding : 0px;
	text-align: left;
	margin-bottom : -25px;
}
.download{
	position : absolute;
	right : 4px;
	top : 3px;
	text-align: right;
	margin : 0px;
}
.control-container{
	font-size : 20px;
}
.control{
	padding : 5px;
	font-size : 20px;
	cursor : pointer;
	border-radius : 50%;
}
.control:hover{
	background : black;
	color : white;
}
.active{
	background : rgba(50, 100, 200, 0.6);
	color : white;
}
.count{
	font-size : 11px;
	padding : 3px;
	background : black;
	color : white;
	border-radius : 20%;
}
#friendList{
	position: absolute;
	left : 5px;
	top : 70px;
	background : rgba(230, 230, 230, 0.4);
	width : 20%;
	z-index: 8;
	min-height: 90%;
	margin-bottom: 200px;
}
.friend{
	position : relative;
	font-size : 20px;
	margin : 10px;
	padding : 10px;
	background : rgba(0, 0, 0, 0.1);
	font-family: cursive;
	font-weight: 400;
	color : rgba(50, 100, 200, 0.7);
	text-align: center;
	pointer : cursor;
}
#nav{
	position : absolute; 
	left : 0%;
	top : 0%;
	width : 100%;
	min-height: 50px;
	background : rgba(0, 0, 0, 0.9);
	border-radius: 0px;
	margin : 0px;
}
#friend_search{
	position : relative;
	left : 0%;
	width : 90%;
	font-size: 17px;
	margin : 10px;
}
.fhead{
	background : black;
	color : rgba(200, 150, 50, 1);
	font-size : 20px;
	padding : 5px;
	font-family : arial;
	font-weight : 400;
	text-align: center;
	margin-bottom : 10px;
}
.alert{
	text-align: center;
	font-size : 22px;
	color : rgba(255, 0, 0, 0.5);
}
.upload{
	margin : 15px;
	color : white;
	font-size : 14px;
	font-weight: 600;
	font-family: '"Whitney SSm A", "Whitney SSm B",verdana,"Lucida Grande", sans-serif'; 
	cursor : pointer;
	text-decoration: none;
}
#load, #ok, #bad{
	position : absolute;
	width : 100%;
	height : 100%;
	left : 0%;
	top : 0%;
	background : rgba(0, 0, 0, 0.7);
	z-index : 10;
}
.loadi{
	position : absolute;
	left : 45%;
	top : 45%;
	font-size : 100px;
	color : white;
}
.upload:hover{
	color : lightblue;
}
#player{
	z-index : 9;
	position : fixed; 
	width : 100%; 
	left : 0%; 
	bottom : 0%; 
	background : black;
	display : none;
}
#play_data{
	color : white;
	font-family : courier; 
	font-size : 25px; 
	font-weight : 800; 
	text-align : center;
	margin : 4px;
}
#song{
	height : 28px;
	width : 100%;
}
.decide{
    float : left;
    width : 40%;
    margin : 4%;
    font-family : courier;
    padding : 5px;
    color : white;
    font-size : 30px;
}
.act{
    background : rgba(0, 255, 0, 0.4);
}
.dact{
    background : rgba(255, 0, 0, 0.4);
}
#selectSong{
	background : rgba(0, 0, 255, 0.2);
	color : white;
}

.frm{
	position: absolute;
	left : 20%;
	top : 25%;
}
.inp{
	margin : 10px;
}
.up_inp{
	width : 500px;
	font-size: 25px;
	padding : 10px;
}
.sub{
	background : rgba(0, 50 ,50, 0.4);
	color : white;
}
.fb-share-button{
	width : 100%;
	transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
}
#upload_status{
	width : 100%;
	height : 100%;
	background : rgba(0, 0, 0, 0.7);
	position : absolute;
	left : 0px;
	right : 0px; 
	z-index : 9;
	text-align : center;	
}
#upload_status_message{
	position : relative;
	top : 40%;
	font-family: courier;
	font-weight: 600;
	font-size : 17px;
	color : rgba(255,255,255, 0.9);
}
.progressBar{
	position : relative;
	top : 45%;
	width : 90%;
	background : white;
}
#fft {
//	-webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,0, 0,0.3));
	position : fixed;
	width : 100%;
	height : 80%;
	top : 0.01%;
	left : 0%;
}
#current-time{
	display: none;
	font-size: 100px;
	position: absolute;
	z-index: -1;
	right: 1em;
	opacity: 0.5;
	top: 0.25em;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9), 0px -1px 0px rgba(0, 0, 0, 0.7);
	color: transparent;
	font-weight: 400;
}
#analyzer{
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height : 100%;
	z-index : 12;
}
.voicer{
	font-size: 18px;
	cursor : pointer;
	border-radius: 43%;
	padding : 2px;
}
.voicer:hover{
	background : white;
	color : black;
}